@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* SOLUTION */

button {
  padding: 8px 16px;
  border: 1px solid gray;
}

button:hover {
  background-color:rgb(238, 238, 158);
}

body {
  background-color: beige;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 16px;
  flex-basis: auto;
  margin-top:  200px;
}

.button-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin: 20px 0px;
}